    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .inter-tight {
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
    }
    
    .logo img {
        width: 139px;
        margin: 16px 120px;
    }
    
    .btn {
        background-color: #049741d9;
        padding: 12.5px 16px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: aqua;
    }
    
    nav {
        max-width: 1600px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .menu {
        display: flex;
        list-style: none;
        gap: 32px;
        align-items: center;
    }
    
    nav .menu a {
        font-size: 16px;
        font-weight: medium;
        color: #000000;
        text-decoration: none;
    }
    
    #hero {
        background: url("../assets/hero-bg.png");
        margin-top: 92px;
        background-repeat: no-repeat;
        height: 674px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #hero .hero-content {
        padding: 70px 120px;
    }
    
    .hero-content .badge {
        font-size: 16px;
        font-weight: 500px;
        line-height: 19px;
        width: 230px;
        padding: 8px 12px;
        background-color: #FFFFFF;
        color: #30B868;
        border: none;
        border-radius: 1000px;
        margin: 90px 565px;
        margin-bottom: 16px;
    }
    
    .hero-content h1 {
        font-size: 72px;
        font-weight: 700px;
        line-height: 84px;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 295px;
        margin-bottom: 16px;
    }
    
    .hero-content h1 .green {
        color: #30B868;
    }
    
    .hero-content p {
        font-size: 18px;
        font-weight: 400px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .hero-content .btn2 {
        font-size: 16px;
        font-weight: 600px;
        line-height: 19px;
        color: #FFFFFF;
        background: transparent;
        padding: 12px 16px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .hero-content .btn2:hover {
        background-color: aqua;
    }
    
    #note .note-container {
        margin-top: 0px;
    }
    
    .note-container .section-heading {
        max-width: 1360px;
        height: 116px;
        margin-left: 120px;
        text-align: center;
        padding-top: 50px;
    }
    
    .note-container .section-heading h2 {
        font-size: 48px;
        font-weight: 700px;
        line-height: 58px;
        color: #001931;
        margin-bottom: 16px;
    }
    
    .note-container .section-heading p {
        font-size: 16px;
        line-height: 20px;
        color: #627382;
        margin-bottom: 44px;
        align-items: center;
    }
    
    #note .note-container .note-box {
        margin: 44px 120px;
        display: flex;
        width: 1360px;
        gap: 24px;
    }
    
    .note-box .note-card {
        max-width: 322px;
        height: 300px;
        box-shadow: 0 6px 50px 0 #0000001a;
        align-items: center;
        padding: 24px;
    }
    
    .note-card img {
        margin: 46px 107px;
        width: 60px;
        height: 60px;
        background-color: #F95555;
        border-radius: 50%;
        padding: 14px;
        margin-bottom: 16px;
    }
    
    .note-card h3 {
        max-width: 274px;
        font-size: 24px;
        font-weight: 600px;
        line-height: 29px;
        text-align: center;
        color: #001931;
        text-transform: capitalize;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    
    .note-card p {
        max-width: 274px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #627382;
        margin-bottom: 16px;
    }
    
    .brain {
        margin-top: 0px;
    }
    
    .brain .brain-container {
        display: flex;
        padding: 120px;
        max-width: 1360px;
        gap: 60px;
    }
    
    .brain .brain-container .content {
        width: 700px;
        padding: 102px 0px;
    }
    
    .content h5 {
        width: 600px;
        font-weight: 400px;
        line-height: 20px;
        color: #30B868;
        align-items: left;
        margin-bottom: 16px;
    }
    
    .content h2 {
        font-size: 48px;
        font-weight: 700px;
        line-height: 58px;
        color: #001931;
        text-align: left;
        margin-bottom: 16px;
    }
    
    .content p {
        font-size: 16px;
        line-height: 20px;
        color: #627382;
        text-align: left;
        margin-bottom: 16px;
        width: 425px;
        margin-bottom: 40px;
    }
    
    .content .features {
        list-style: none;
        font-size: 16px;
        font-weight: 500px;
        color: #001931;
    }
    
    .features li {
        margin-bottom: 16px;
    }
    
    .features .icon {
        margin-right: 10px;
    }
    
    .challenges {
        padding: 80px 120px;
        background-color: #F7F6F2;
        margin: 2px 120px 120px;
        border: 1px solid #000000;
        border-radius: 5px;
    }
    
    .challenges-container {
        max-width: 1360px;
        text-align: center;
    }
    
    .challenges-container h4 {
        font-size: 40px;
        line-height: 48px;
        color: #001931;
        margin-bottom: 16px;
    }
    
    .challenges-container p {
        font-size: 16px;
        line-height: 24px;
        color: #627382;
        margin-bottom: 24px;
        margin-top: 16px;
    }
    
    .footer {
        background-color: #001931;
        padding: 120px 120px 30px 120px;
    }
    
    .footer .footer-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        margin-top: 0;
    }
    
    .social {
        color: #FFFFFF;
    }
    
    .footer hr {
        color: #E5E7EB;
    }
    
    .footer p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 30px;
    }