    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .inter-tight {
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
    }
    
    .logo img {
        width: 139px;
        margin: 16px 120px;
    }
    
    .btn {
        background-color: #049741d9;
        padding: 12.5px 16px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: aqua;
    }
    
    nav {
        max-width: 1600px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .menu {
        display: flex;
        list-style: none;
        gap: 32px;
        align-items: center;
    }
    
    nav .menu a {
        font-size: 16px;
        font-weight: medium;
        color: #000000;
        text-decoration: none;
    }
    
    #hero {
        background: url("../assets/hero-bg.png");
        margin-top: 92px;
        background-repeat: no-repeat;
        height: 674px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #hero .hero-content {
        padding: 70px 120px;
    }
    
    #hero .hero-content .badge {
        font-size: 16px;
        font-weight: 500px;
        line-height: 19px;
        width: 230px;
        padding: 8px 12px;
        background-color: #FFFFFF;
        color: #30B868;
        border: none;
        border-radius: 1000px;
        margin: 90px 565px;
        margin-bottom: 16px;
    }
    
    #hero .hero-content h1 {
        font-size: 72px;
        font-weight: 700px;
        line-height: 84px;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 295px;
        margin-bottom: 16px;
    }
    
    #hero .hero-content h1 .green {
        color: #30B868;
    }
    
    #hero .hero-content p {
        font-size: 18px;
        font-weight: 400px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 32px;
    }
    
    #hero .hero-content .btn2 {
        font-size: 16px;
        font-weight: 600px;
        line-height: 19px;
        color: #FFFFFF;
        background: transparent;
        padding: 12px 16px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
    }
    
    #hero .hero-content .btn2:hover {
        background-color: aqua;
    }