    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .inter-tight {
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
    }
    
    .logo img {
        width: 139px;
        margin: 16px 120px;
    }
    
    .btn {
        background-color: #049741d9;
        padding: 12.5px 16px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: aqua;
    }
    
    nav {
        max-width: 1600px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .menu {
        display: flex;
        list-style: none;
        gap: 32px;
        align-items: center;
    }
    
    nav .menu a {
        font-size: 16px;
        font-weight: medium;
        color: #000000;
        text-decoration: none;
    }